@{
    Layout = null;
    string currentController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>@ViewBag.Title</title>

		<link href="@Url.Content("~/Areas/Admin/Themes/Default/css/admin.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/Areas/Admin/Themes/Default/css/popup.css")" rel="stylesheet" type="text/css" />


        <script src="@Url.Content("~/Areas/Admin/Themes/Default/js/lib.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Areas/Admin/Themes/Default/js/helpers.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Areas/Admin/Themes/Default/js/popup.js")" type="text/javascript"></script>		
		<script>		    //var Base_url = '<?php echo admin_url(); ?>';</script>
	</head>
	<body>
		<header id="top">
			<a id="logo" href="#">
				<img src="@Url.Content("~/Areas/Admin/Themes/Default/img/logo.png")" alt="MudHook">
			</a>           			
			<nav>
				<ul>					
					<li @(currentController == "Posts" ? "class=active")>
						@Html.ActionLink("Posts", "Index", new { controller = "Posts" })
        			</li>					
                    <li>
                        @Html.ActionLink("Pages", "Index", new { controller = "Pages" })
                    </li>
                    <li>
                        @Html.ActionLink("Users", "Index", new { controller = "Users" })
                    </li>
                    <li>
                       @Html.ActionLink("Metadata", "Index", new { controller = "Metadata" })
                    </li>
				</ul>
			</nav>
            @Html.Partial("_LogOnPartial")
		</header>
        @RenderBody()
        @Html.Partial("_SideBarPartial")	    
	    <footer id="bottom">
		    <small>
                Powered by Anchor, version 0.1 
		        <a href="#">Visit your site</a>.
		    </small>
		
		    <em>Make blogging beautiful.</em>
	    </footer>	    
	</body>
</html>
