@model IEnumerable<MudHook.Core.Post>
@{
    ViewBag.Title = "Index";        
}
<section class="content">

 @if (@Model.Count() > 0)
 { 
    <ul class="items wrap">
	    @foreach (var p in @Model)
        { 
	    <li>
		    <a href="#" title="@p.Title">
			    <time datetime="@p.Created">@Html.DisplayTimePassed(p.Created)</time>
			    <h2>@p.Title</h2>
                <em>@p.Status</em>
                <em>@p.Tags.Name</em>
		    </a>
	    </li>
	    }
    </ul>

    <p><?php echo posts_prev(); ?> <?php echo posts_next(); ?></p>

 }
 else
 { 
		<p>Looks like you have some writing to do!</p>
 }

</section>

