@model IEnumerable<MudHook.Core.Page>
@{
    ViewBag.Title = "Index";
}
<h1>
    Pages
    @Html.ActionLink("Create a new page", "Add")
</h1>

@Html.Raw(MudHookNotifications.Get().Html)

<section class="content">
	@if (Model.Count() > 0)
     {
        <ul class="list">
	        @foreach (var p in Model)
            {
	        <li>
	            <a href="@Url.Action("Edit", new{ id = @p.Id })">
	                <strong>@p.Title</strong>	               
	                <i class="status">@p.Status.ToString()</i>
	            </a>
	        </li>
            }
        </ul>
     }
     else
     {
        <p><a href="#">No posts just yet. Why not write a new one?</a></p>
     }
</section>
