@model MudHook.Core.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Post</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Slug</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Slug)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Html</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Html)
    </div>

    <div class="display-label">Css</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Css)
    </div>

    <div class="display-label">Js</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Js)
    </div>

    <div class="display-label">CustomFields</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomFields)
    </div>

    <div class="display-label">Created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">IsModified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsModified)
    </div>

    <div class="display-label">LastModified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastModified)
    </div>

    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
